.blogPostStyle{
    max-width: 800px;
    margin: 0 auto;
    img{
        width: 800px;
    }
}

.blogPost{
    font-size: 14px;
    color: #171717;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-family: Mulish;
}