.aboutTitle{
    text-align: center;
    margin-bottom: 40px;
}

.aboutImg{
    vertical-align: top;
    border-style: none;
    display: inline-block;
    width: 500px;
    height: 500px;
    margin-right: 30px;
}

.aboutDes{
    margin-top: 0;
    margin-bottom: 1rem;
    display: inline-block;
    width: 550px;
}